.TopBar {
    /* to make it distinguishable */
    background-color: darkblue;
}

.TopBar a {
    color: white;
}
.TopBar span {
    float: right;
    color: white;
}

.TopSpace {
    display: flex;
    justify-content: space-between;
}

.TopButton {
    display: flex;
    justify-content: flex-end;
}

.TopSpace a{
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
    transition: background-color 0.25s;
    padding: 4px;
    border-radius: 8px;
}

.TopSpace a:hover{
    /*text-decoration: underline;*/
    background-color: #767BE0;
}

/*.TopSpace a::after{*/
/*    content: "";*/
/*    background: white;*/
/*    mix-blend-mode: soft-light;*/
/*    width: calc(100% + 20px);*/
/*    height: 0;*/
/*    position: absolute;*/
/*    bottom: -4px;*/
/*    left: -10px;*/
/*    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);*/
/*}*/

/*.TopSpace a:hover::after{*/
/*    height: calc(100% + 8px)*/
/*}*/