.TopBar {
    /* to make it distinguishable */
    background-color: darkblue;
}

.TopBar a {
    color: white;
}
.TopBar span {
    float: right;
    color: white;
}

.TopSpace {
    display: flex;
    justify-content: space-between;
}
