.Photos {
    /*background-color: aliceblue;*/
    background-color: white;
}
.select {
    padding-top: 10px;
}
.Buttons {
    background-color: chartreuse;
}

.ButtonOn {
    background-color: #1B73E8;
}

.photos {
    max-height: 200px;
    margin: 3px;
    display: inline-block;
}

.row {
    display: flex;
    flex-wrap: wrap;
    /*padding: 0 4px;*/
}

.Photos ul {
    list-style-type: none;
}

.Photos li {
    display: inline-block;
}

input[type="checkbox"][id^="ph"] {
    display: none;
}

label>.photo {
    display: block
}

.Photos label {
    /*border: 1px solid #000;*/
    /*padding: 10px;*/
    display: block;
    position: relative;
    /*margin: 10px;*/
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    /*border: 1px solid grey;*/
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

label img {
    margin-right: 6px;
    max-height: 200px;
    /*max-width: 100px;*/
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

:checked + label {
    border-color: #ddd;
}

:checked + label:before {
    content: "✓";
    background-color: grey;
    transform: scale(1);
}

:checked + label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
}
